/* Layout for POST type of Section */
.list-with-title h3 {
  color: var(--heading-color);
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
}

.list-with-title .listing .listing-post .post-time {
    float: left;
    color: #c5c5c5;
    padding-right: 10px;
}

.list-with-title .listing .listing-post a {
    color: var(--link-color);
}

.timeline-Widget {
  color: var(--body-color);
}

.link-list {
  border-bottom: solid 1px var(--border-color);
  font-size: 12px;
}

/* BABY STAY */
.main-container {
  max-width: 800px;
  margin: 0 auto;
}

.center-nav {
  width: 100%;
  max-width: 800px;
  right: unset;
}

.center-content {
    height: auto;
    width: 100%;
    max-width: 800px;
    margin-top: 80px;
}

/* Support */
.support-page {
  border-bottom: solid 1px var(--border-color);
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}
.support-page .support-thumbnail {width: 100px; height: 100px;}
.support-page .support-thumbnail img {width: 100px; height: auto;}
.support-page .support-summary {padding: 10px;}

.support-page .support-summary .post-title {font-size: 15px; font-weight: bold;}
.support-sidebar .support-summary .post-title {font-size: 10px; font-weight: bold;}

.support-page .support-summary {font-size: 12px;}
.support-sidebar .support-summary {background-color: var(--secondary-bg-color); padding: 5px 0;}

.support-page .support-summary .duration,
.support-sidebar .support-summary .duration {padding-top: 3px;}

.support-sidebar {height: 50px; padding: 10px 0; }

@keyframes blink {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}
.notice-bg{
  position: absolute;
  font-size: 15px;
  margin: 25px 10px;
  font-family: Lucida Console, monospace;
  font-weight: bold;
  width: calc(100% - 50px);

  animation: blink 3s infinite;
  animation-delay: 3s
}

.notice {
  background-color: var(--secondary-bg-color);
  color: var(--date-color);
  min-height: 50px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  font-size: 10px;
  padding: 0 10px;
  height: 70px;
  min-height: 70px;
  overflow: hidden;
  margin: 0 10px;
  cursor: pointer;
}

@keyframes notice2 {
  0% {transform: translateY(75px);}
  37% {transform: translateY(0);}
  75% {transform: translateY(-70px);}
  100% {transform: translateY(-140px);}

}

@keyframes notice3 {
  0% {transform: translateY(75px);}
  25% {transform: translateY(0);}
  50% {transform: translateY(-70px);}
  75% {transform: translateY(-140px);}
  100% {transform: translateY(-210px);}

}

.notice ul {margin: 0; padding: 0;}
.support-animate {position: relative;}

/* 3 index = notice3, 30s ; 2 index = notice2 20s */
.support-animate {
  animation-name: notice2;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.support-animate:hover {animation-play-state: paused;}

.support-wrap .support-bg {background-color: var(--support-bg); opacity: 0.85;}
.support-wrap .support-bg .support-content {text-align: justify; padding: 10px;}
.support-wrap .support-bg .support-content a {text-decoration: underline;}

/* FOR TABS */
.tab {
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  background-color: var(--tab-bg);
  border-bottom: none;
  padding-bottom: 0;
}

.tab::-webkit-scrollbar {display:none;}
.no-scroll::-webkit-scrollbar {display:none;}

.tablinks {
  border: none;
  border-radius: 0;
  font-size: 25px;
  display: inline-block;
  background-color: var(--tab-bg);
  color: var(--bg-color);
  padding: 5px;
  margin: 3px;
  margin-bottom: 0;
}

.tablinks.active {
  color: var(--heading-color);
  background-color: var(--bg-color);
}

.tabcontent {
  border: solid 1px var(--border-color);
  display: none;
  max-height: 960px;
  overflow-y: scroll;
  border-top: none;
}

.tabcontent-summary {border:unset; max-height: unset; overflow-y: unset}
.tabcontent.active {display: block;}

.anchor {margin: 10px; padding:5px; font-size: 10px;}
.post .post-content .anchor a {color: var(--body-color);}

/* summarized content */
.summary-year {
  background-color: var(--tab-bg);
  color: var(--bg-color);
  font-size: 25px;
  padding: 5px;
  margin: 3px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
}

 .summary-outer {}
 .summary-inner {}

 .card-outer {
  background-color: unset;
  display: inline-block;
  width: 100%;
  /* padding: 5px;
  margin-left: -5px;

  */

 }

 .card-inner {
   background-color: var(--secondary-bg-color);
   border: solid 1px var(--border-color);
   width: 100%;
   margin: 10px 0;
 }

 .card-title.artistry, .legend.artistry {background-color: #fff986f2; color: #000;}
 .card-title.era, .legend.era {background-color: #8bfe92; color: #000;}
 .card-title.series, .legend.series {background-color: #8b96fe; color: #000;}
 .card-title.public, .legend.public {background-color: #fe8b8b; color: #000;}

 .legend.other {background-color: var(--secondary-bg-color); color: var(--body-color);}

 .legend {
    padding: 3px;
    margin-bottom: 2px;
    width: fit-content;
    display: inline-block;
    border: 1px solid var(--border-color);
    font-size: 0.8em;
  }



 .card-image {height: calc(100vw / 2.1);}

 img.crop-16-9 {
   width: calc(100vw - 40px);
   height: calc(100vw / 2.1);
   object-fit: cover;
   white-space: normal;
   font-size: 10px;
 }

 .card-details {
   font-size: 12px;
   font-weight: bold;
   color: var(--body-color);
 }

 .card-title {
   padding: 15px 5px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
 }


/* Tablet 426 to 800px */
@media only screen and (min-width:426px) {
  .summary-outer {
    /*width: 90%;*/
    padding: 0 5%;
  }
  .card-outer {width: 49%;}

  .card-image {height: calc(50vw / 2.4);}

  img.crop-16-9 {
    width: calc(50vw - 51px);
    height: calc(50vw / 2.4);
  }

}

/* Laptop 801 above*/
@media only screen and (min-width:801px) {
  .card-outer {width: 32.4%;}

  .card-image {height: calc(20vw/2.36);}

  img.crop-16-9 {
    width: calc(20vw - 37px);
    height: calc(20vw/2.36);
  }


}


/* laptop 801 to */
/* MOBILE */
@media screen and (max-width: 800px),
print {
  .support-page {flex-direction: row;}

  .notice {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    margin: unset;
  }

  .support-sidebar {
  /*  padding:5px 0px 0px 0px; */
    color: var(--body-color);
    width: calc(100% - 50px);
  }
}


@media screen and (max-width: 425px),
print {
  .support-page {flex-direction: column;}
  .support-page .support-thumbnail,
  .support-page .support-thumbnail img {width: 100%; height: auto;}


  .support-content figure {margin:0}
}
