/* Layout for POST type of Section */
.list-with-title h3 {
  color: var(--heading-color);
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
}

.list-with-title .listing .listing-post .post-time {
    float: left;
    color: #c5c5c5;
    padding-right: 10px;
}

.list-with-title .listing .listing-post a {
    color: var(--link-color);
}
