<div class="banner-300x250 ad-border">
  <h6 class="ad-label">Advertisement</h6>

  <div class="code-300x250">
    <script type="text/javascript">
  	atOptions = {
  		'key' : '8c09508a278e36d999be96e8f444a237',
  		'format' : 'iframe',
  		'height' : 250,
  		'width' : 300,
  		'params' : {}
  	};
  	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://magicianmost.com/8c09508a278e36d999be96e8f444a237/invoke.js"></scr' + 'ipt>');
    </script>
  </div>

</div>
