<div class="ad-banner">

  <div class="banner-320x50 ad-border">
    <h6 class="ad-label">Advertisement</h6>

    <div class="code-320x50">
      <script type="text/javascript">
      	atOptions = {
      		'key' : 'a7696e084d5807f40b88dee223e09cec',
      		'format' : 'iframe',
      		'height' : 50,
      		'width' : 320,
      		'params' : {}
      	};
      	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://magicianmost.com/a7696e084d5807f40b88dee223e09cec/invoke.js"></scr' + 'ipt>');
      </script>
    </div>

  </div>

  <div class="banner-468x60 ad-border">
    <h6 class="ad-label">Advertisement</h6>

    <div class="code-468x60">
      <script type="text/javascript">
      	atOptions = {
      		'key' : '64dac3f52879f09b149170a6bc955bf9',
      		'format' : 'iframe',
      		'height' : 60,
      		'width' : 468,
      		'params' : {}
      	};
      	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://magicianmost.com/64dac3f52879f09b149170a6bc955bf9/invoke.js"></scr' + 'ipt>');
      </script>
    </div>

  </div>
</div>
