{{ define "main" }}
  <div class="post">
    <div class="post-content">
    </div>
  </div>
    <div class="archive">

      {{ $supportPosts := (where $.Site.RegularPages "Section" "==" "support") }}

      {{ $postCount := len $supportPosts }}
      {{ $slice := slice "" "one" "two" "three"}}
      {{ $supportCount := index $slice $postCount }}

      {{ if eq $supportCount "" }}
        <h2 style="text-align: center">No post for now...</h2>
      {{ end }} 




        <ul class="list-with-title">

          <!-- Main Priority dispalyed on home -->
            {{ range .Pages.GroupByParam "priority" }}
              {{ range .Pages.ByWeight }}
                  <li class="support-page-list">
                    <div class="support-thumbnail" >
                      <a href="{{ .RelPermalink }}">
                        {{ $thumbnail := printf "%s" .Params.thumbnail }}
                        {{ $img := resources.Get $thumbnail }}
                        {{ $iResize := $img.Resize "500x Center"}}
                        <img src="{{ $iResize.RelPermalink }}" alt="{{ .Title }}">
                      </a>
                    </div>
                    <div class="support-summary">
                      <div class="post-title">
                        <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
                      </div>
                      <div class="post-description">
                        {{ .Description }}
                      </div>
                      <div class="duration">
                        {{ if .Params.duration }}
                          {{ .Params.duration }}
                        {{ end }}
                      </div>
                    </div>
                  </li>
              {{ end }}
            {{ end }}
        </ul>
    </div>


{{ end }}
