{{ define "main" }}
    <div class="post">
        <div class="post-content">
            <div class="post-title">
                <h3>{{ .Title }}</h3>
                {{ if eq .Type "post"}}
                    <div class="info">
                        <em class="fas fa-calendar-day"></em>
                        <span class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
                    </div>
                {{ end }}
            </div>

          <h5>{{ .Description  }}</h5>
          <div class="duration">
            {{ if .Params.duration }}
              <h5>{{ .Params.duration }}</h5>
            {{ end }}
              <h5>Post last updated: {{ .Lastmod.Format "Jan 02, 2006"}}</h5>
          </div>
          <hr>
          {{ $imgBg := resources.Get "static/support-bg.jpg" }}
          {{ $iResize := $imgBg.Resize "500x q50 Center"}}
          <div class="support-wrap"
          style="background: url({{ $iResize.RelPermalink }}); background-size: contain; ">
            <div class="support-bg">
              <div class="support-content">
                {{ $thumbnail := printf "/img-support/%s" .Params.thumbnail }}
                {{ $img := resources.GetMatch $thumbnail }}
                {{ $iResize := $img.Resize "300x Center" }}

                {{ with $iResize }}
                  <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
                {{ end }}

                {{ .Content }}
              </div>
            </div>
          </div>



        </div>
        <div class="post-footer">
            <div class="info">
                {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
                {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
            </div>
        </div>

        {{ if eq .Type "post"}}
            {{ if .Site.DisqusShortname -}}
                <div id="fb_comments_container">
                    <h2>{{ i18n "comments" }}</h2>
                    {{ template "_internal/disqus.html" . }}
                </div>
            {{- end }}
        {{ end }}
    </div>

{{ end }}
