{{ define "main" }}
  <div class="post">
    <div class="post-content">
      {{ .Content }}
    </div>
  </div>
    <div class="archive">
        <ul class="list-with-title">
            {{ range .Data.Pages.GroupByDate "2006" }}
                <div class="listing-title">{{ .Key }}</div>
                {{ range .Pages }}
                    <ul class="listing">
                        <div class="listing-item">
                            <div class="listing-post">
                                <div class="post-time"><span class="date">
                                  {{ if isset .Site.Params "listdateformat" }}
                                  {{ .Date.Format .Site.Params.listDateFormat }}
                                  {{ else }} {{.Date.Format "Jan 02"}}
                                  {{ end }}</span>
                                </div>
                                <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
                            </div>
                        </div>
                    </ul>
                {{ end }}
            {{ end }}
        </ul>
    </div>


{{ end }}
