{{ define "main" }}

  <div class="post">

    <div class="post-content">
      <div class="post-title">
          <h3>{{ .Title }}</h3>
      </div>

      <h5>{{ .Description  }}</h5>
      <hr>

      {{ .Content }} <br>
    </div>

    <!-- copied from all-contents -->
    {{ $newYear := sub .Site.Params.year 1 }}
    {{ $sort := $.Page.Params.sort }}

    {{ $yrs := slice }}
      {{ range .Site.Data.Masterlist }}
        {{ range where .contents ".Year" ">=" $newYear }}
          {{ $yrs = $yrs | append .Year }}
        {{ end }}
      {{ end }}
    {{ $yrs = uniq $yrs }}

    {{ $YrsRange := sort $yrs "value" $sort }}
      {{ if eq $sort "desc" }}
        {{ $YrsRange = $YrsRange | sort (last 2 $yrs) "value" $sort }}
      {{ end }}

    {{ $firstYr := index (first 1 $yrs) 0 }}
    {{ $lastYr := index (last 1 $yrs) 0 }}


    <div class="text-button-container">
    {{ range .Pages.ByTitle }}
      <a href="{{ .RelPermalink }}">
          <button class="text-button">{{ .Title }}</button>
      </a>
    {{ end }}
    </div>

  </div>



{{ end }}
