{{ define "main" }}
    <div class="post">
      <!-- ad -->
        {{- partial "google/ads-in-feed.html" . -}}
      <!-- ad -->

        <div class="post-content">

          <h5>{{ .Description  }}</h5>

          {{ .Content }} <br>

          <div class="text-button-container" >
            <a href="../">
                <button class="text-button" style="margin-bottom: 25px">Select Year</button>
            </a>
          </div>

          {{- partial "display/masterlist" . -}}

        </div>

        <!-- ad -->
          <div class="ads-in-feed-martop">
            {{- partial "google/ads-in-feed.html" . -}}
          </div>
        <!-- ad -->
    </div>

{{ end }}
