{{ define "main" }}
<div class="post">
  <div class="post-content">

<!-- All Contents -->
<div style="display:block">
  {{ range .Pages }}
    {{ if eq .Type "home" }}
      <div style="padding: 10px 0">
        <div class="post-title">
            <h3>{{ .Title }}</h3>
        </div>
          <h5>{{ .Description  }}</h5>
          <hr>

          <div class="home-content">
            {{ .Content }}
          </div>
      </div>
    {{ end }}
  {{ end }}
</div>

<!-- End All Contents -->

  </div>
</div>
{{ end }}
