<div id="popup">
  <h6 class="ad-label">Advertisement</h6>
  <div style="height: 20px">
    <p id="p_timer">You may close in<span id="timer">5</span>sec</p>
    <button id="closepop" class="close-btn hidden" onclick="closePopup()">X</button>
  </div>
  <a href="https://x.com/peypercraft/status/1851892513667477691" target="_blank">
    <video autoplay muted>
        <source src="/images/ad.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </a>
  <span id="dontShowAgain" class="dont-show-btn hidden" onclick="dontShowAgain()">Don't show this again today</span>
</div>