<div class="sidebar">
    <div class="logo-title">
      <div class="banner">
        {{ $bannerPath := resources.GetMatch .Site.Params.banner }}
        {{ $banner := $bannerPath.Resize "800x"}}

        {{ with $banner }}
        <img src="{{ .RelPermalink }}" alt="Stray Kids banner">
        {{ end }}

      </div>
        <div class="title">
            <h3 title=""><a href="/">{{ .Site.Params.Title }}</a></h3>
        </div>
    </div>

  {{ if and (ne .Title "") (ne .Section "support") }}
    <div class="notice" style="display:block" onclick="location.href='/support/';">
      <span class="notice-bg">You Make Stray Kids STAY</span>

      {{ $supportPosts := (where $.Site.RegularPages "Section" "==" "support") }}
      {{ $postCount := len $supportPosts }}
      {{ $slice := slice "" "one" "two" "three"}}

      <ul class="support-animate {{ index $slice $postCount }}">
        {{ range $supportPosts }}
        <div class="support-sidebar">
          <div class="support-summary">
            <div class="post-title">
              <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
            </div>
            <div class="post-description">
              {{ .Description }}
            </div>
            <div class="duration">
              {{ if .Params.duration }}
                {{ .Params.duration }}
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
      </ul>
    </div>
  {{ end }}

    {{ if eq .Params.page "index"}}
    <div class="home-sidebar">
      {{ .Content }}
    </div>
    {{ end }}

    <div class="content-nav">
      {{- partial "display/nav-section.html" . -}}
    </div>

<!--    <ul class="social-links">
        {{ range $item := .Site.Params.socialIcons }}
            <li>
                <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}">
                    <i class="{{ $item.icon }} fa-2x" aria-hidden="true"></i>
                </a>
            </li>
        {{ end }}
    </ul>


    <div class="footer">
        <div class="by_farbox">&copy; {{ .Site.Params.author }} {{ now.Format "2006"}} </div>
    </div>
 -->
</div>
