<div id="popup-embed" class="hidden">
    <div id="embed-container" class="hidden">
      <div class="embed-header">
        <span class="embed-link">
          <a id="anchorLink" href="#" target="_blank" rel="noopener noreferrer">Embed not working? Watch it here.</a>
        </span>
        <span id="closeShorts" class="embed-close" onclick="closeShorts()">X</span>
      </div>
      <p id="emNotes"></p>
      <div class="embed-body">
        <div id="yt-embed-container">
          <!-- js makes youtube embed -->
        </div>

        <div id="tt-embed-container">
          <!-- js makes tiktok embed -->
        </div>

        <div id="x-embed-container">
          <!-- js makes twitter embed -->
        </div>

        <div id="ig-embed-container">
          <!-- js makes instagram embed -->
        </div>
      
      </div>
    </div>
</div>
