{{/*  unused  */}}

<h3>All Contents</h3>

<p style="font-size: 10px">Admin note: All contents are now visible by date including previous years. Please click the year's button after "Jump to:" text and if you want to jump to another year click "TOP" button at lower right side of the screen to see the options again without having to take a long journey to scroll (/half joking). <br><br> I'm in the process of turning it into tabs but little braincell needs to figure out the logic to make it work automatically base on my database so it might take a while. I'll also add summary of contents by each year. I'm sorry for this paragraph and thank you very much to the STAYs that message me about it and I'm sorry again it's taking me forever ㅠㅠ </p>

<hr style="border-bottom: solid 1px;">

<br>
Jump to:
<button><a href="#2020">2020</a></button>
<button><a href="#2019">2019</a></button>
<button><a href="#2018">2018</a></button>
<button><a href="#2017">2017</a></button>


{{ $newYear := sub .Site.Params.year 1 }}

{{ $yrs := slice }}
  {{ range .Site.Data.Masterlist }}
    {{ range where .contents ".Year" ">=" $newYear }}
      {{ $yrs = $yrs | append .Year }}
    {{ end }}
  {{ end }}
{{ $yrs = uniq $yrs }}

{{ range sort $yrs "value" "desc" }} <!-- latest > year > month -->
    {{ $year := . }}
    <h4 id="{{ $year }}" style="margin-bottom: 0px;"> {{ $year }} </h4>

      {{ $months := slice }}
        {{ range $.Site.Data.Masterlist }}
            {{ range sort (where (where .contents "Year" ">=" $newYear)  "Year" $year) "Date" "desc" }}
            {{ $months = $months | append .Month }}
            {{ end }}
        {{ end }}
      {{ $months = uniq $months }}

      {{ range $months }}
        {{ $month := . }} <br>

        {{ range $.Site.Data.Masterlist }}
          {{ range sort (sort (where (where (where .contents "Year" ">=" $newYear) "Year" $year) "Month" $month) "ID" "desc" ) "Date" "desc" }}
          <div class="link-list">
            <ul>
              <span class="date">{{ dateFormat "Jan 02" .Date }}</span>
              <span id="catlink"><a href="{{ .CatLink }}">{{ .Category }}
                {{ if and (ne .SubCat "-") (ne .SubCat "Others")}}
                : {{ .SubCat }}
                {{end}}</a></span>

              {{ .Title }}
              {{ range .Links }}
              ★ <a target="_blank" href="{{ .Link }}">{{ .Name }}</a> <span class="subs">{{ .Subs }}</span>
              {{ end }} <!-- range .Links -->
            </ul>
          </div>
          {{ end }}
        {{ end }}
      {{ end }} <br>
{{ end }} <!-- latest > year > month -->
