{{ $startYr := .Site.Params.year }}

{{ $yrs := slice }}
{{ range .Site.Data.Masterlist }}
  {{ range where .contents ".Year" ">=" $startYr }}
    {{ $yrs = $yrs | append .Year }}
  {{ end }}
{{ end }}
{{ $yrs = uniq $yrs }}

{{ $pageYr := $.Page.Params.year }}
{{ $thisYr := index (last 1 $yrs) 0 }}

{{ $year := $pageYr }}
{{ $sort := "asc" }}
{{ $isHome := false }}


{{ if eq .Type "home" }}
  {{ $year = $thisYr }}
  {{ $sort = "desc" }}
  {{ $isHome = true }}
{{ end }}

{{ $months := slice }}
{{ range .Site.Data.Masterlist }}
    {{ range sort (where .contents "Year" $year) "Date" $sort }}
      {{ $months = $months | append .Month }}
    {{ end }}
{{ end }}
{{ $months = uniq $months }}

{{ $gatsu := slice "" "01: Jan" "02: Feb" "03: Mar" "04: Apr" "05: May" "06: Jun" "07: Jul" "08: Aug" "09: Sep" "10: Oct" "11: Nov" "12: Dec" }}

<!-- conditions base on year -->
{{ $YEARS := slice }}

{{ if and (eq $year $thisYr) (eq (len $months) 1) }}
  {{ $YEARS = sort (last 2 $yrs) "value" "desc" }}
{{ else if and (eq $year $thisYr) (gt (len $months) 1) }}
  {{ $YEARS = slice $thisYr }}
{{ else }}
  {{ $YEARS = slice $pageYr }}
{{ end }}


<!-- create maps -->
{{ $maps := slice }}
{{ range $YEARS }}
  {{ $YEAR := . }}

  {{ $MONTHS := slice }}
    {{ range $.Site.Data.Masterlist }}
      {{ range sort (where .contents "Year" $YEAR) "Date" $sort }}
        {{ $MONTHS = $MONTHS | append .Month }}
      {{ end }}
    {{ end }}
  {{ $MONTHS = uniq $MONTHS }}

  {{ $RangeMonth := $MONTHS }}
  {{ if and (eq $.Type "home") (ne $YEAR $thisYr) }}
    {{ $RangeMonth = first 2 $MONTHS }}
  {{ end }}

  {{ range $RangeMonth }}
    {{ $MONTH := . }}

    {{ range $.Site.Data.Masterlist }}
      {{ range sort (where (where .contents "Year" $YEAR) "Month" $MONTH) "ID" $sort }}
          {{ $maps = $maps | append . }}
      {{ end }}
    {{ end }}

  {{ end }} <!-- range months -->

{{ end }} <!-- range years -->


<!-- navigation menu -->
<div id="shin-menu" class='shin-menu {{ if $isHome }} smh {{ end }}' >
  <span id="hide-thumb"><i class="fas fa-list" title="Hide Thumbnails"></i></span>
  <span id="show-thumb" class="hidden"><i class="fas fa-image hidden" title="Show Thumbnails"></i></span>
  <button id="shin-btn">Select Month</button>

  <div class="shin-menu-list">
    {{ $_months := slice }}
    {{ range $maps }}
      {{ $_months = $_months | append .Month }}
    {{ end }}
    {{ $_months = uniq $_months }}

    {{ range $_months }}
      {{ $month := . }}
      <a href="#{{$month}}"><button class="shin-list-btn">{{ index $gatsu (int $month) }}</button></a>
    {{ end }}
  </div>
</div>

<!-- horizontal display of short forms -->
{{- partial "display/embed-video.html" . -}}
<div id="giant">
  {{ if $isHome }}
  <h2 id="sform-label" class="center-text">SHORT FORMS</h2>
  <div class="sform-horizontal-scroll">
    <h2 id="sform-label-1024" class="center-text">SHORT FORMS</h2>
    <div class="sform-horizontal-container">
      {{ range first 50 (where $maps "Category" "eq" "Short Form") }}
          {{- partial "display/ver-thumbnail.html" . -}}
      {{ end }} <!-- range index -->

      <a href="/short-forms/">
        <button id="see-more-shorts">SEE MORE SHORTS HERE</button>
      </a>
    </div>
  </div>
  {{ end }}

<!-- display long form contents -->
  <div class="boxer">
    <h2 class="center-text">MAIN CONTENTS</h2>
    {{ range $YEARS }}
      {{ $YEAR := . }}
      <div class="nen">{{ $YEAR }}</div>

      {{ $__months := slice }}
      {{ range where $maps "Year" $YEAR }}
        {{ $__months = $__months | append .Month }}
      {{ end }}
      {{ $__months = uniq $__months }}

      {{ range $__months }}
        {{ $MONTH := . }}
        <div id="{{ $MONTH }}" class="gatsu">{{ index $gatsu (int $MONTH) }}</div><br>

        {{/*  {{ range where (where $maps "Year" $YEAR) "Month" $MONTH }}  */}}
        {{ range where (where (where $maps "Year" $YEAR) "Month" $MONTH) "Category" "ne" "Short Form"}}
          <div class="link-list">
            <ul>
              <span class="date">{{ dateFormat "Jan 02" .Date }}</span>
              {{ if and (ne .SubCat "-") (ne .SubCat "Others")}}
                <span id="catlink">
                  <a href="../../{{ .CatLink }}/#{{ replace .SubCat ' ' '-'}}">
                    {{ .Category }} : {{ .SubCat }}</a>
                </span>

              {{ else }}
                <span id="catlink">
                  <a href="../../{{ .CatLink }}">{{ .Category }}</a>
                </span>
              {{end}}

              <!-- thumbnail -->
              {{- partial "display/thumbnail.html" . -}}
              <!-- end thumbnail-->


              <br> {{ .Title }}
              {{ range .Links }}
              <li>
                <a target="_blank" href="{{ .Link }}">{{ .Name }}</a> <span class="subs">{{ .Subs }}</span>
              </li>
              {{ end }} <!-- range .Links -->
            </ul>
          </div>
        {{ end }} <!-- range maps -->
      {{ end }} <!-- range months -->

    {{ end }} <!-- range years -->
  </div>
</div>
