{{ $pagesByYear := slice "By Year" "All Live" "By Line" "Short Forms" }}
{{ $isByYear := false }}

{{ $catName := .Params.mainCat }}
{{ if in $pagesByYear .Params.pageType }}
  {{ $isByYear = true }}
{{ end }}

{{ $sections := slice }}
  {{ range .Site.Data.Masterlist }}
    {{ range where .contents ".Category" $catName }}
      {{ $sections = $sections | append .SubCat }}
    {{ end }}
  {{ end }}
{{ $sections = uniq $sections }}

{{ $years := slice }}
  {{ range .Site.Data.Masterlist }}
    {{ range where .contents ".Category" $catName }}
      {{ $years = $years | append .Year }}
    {{ end }}
  {{ end }}
{{ $years = uniq $years }}

<div id="shin-menu" class="shin-menu">
  <span id="hide-thumb"><i class="fas fa-list" title="Hide Thumbnails"></i></span>
  <span id="show-thumb" class="hidden"><i class="fas fa-image hidden" title="Show Thumbnails"></i></span>

  {{ if eq .Params.pageType "By SubCat Year" }}
  <button id="shin-btn">Select Category</button>
  <div class="shin-menu-list">
    {{ range sort $sections }} <!-- non-others -->
      {{ $section := . }}
        {{ if and (ne $section "Others") (ne $section "-") }} <!-- previously: (if ne $section "Others") only -->
        <a href="#{{ replace $section ` ` `-` }}"><button class="shin-list-btn">{{ $section }}</button></a>
        {{ end }}
    {{ end }} <!-- non-others -->

    {{ range sort $sections }} <!-- others -->
      {{ $section := . }}
        {{ if eq $section "Others" }}
        <a href="#{{ replace $section ` ` `-` }}"><button class="shin-list-btn">{{ $section }}</button></a>
        {{ end }}
    {{ end }} <!-- others -->
  </div>

  {{ else if eq .Params.pageType "Cat Shorts" }}
  <button id="shin-btn">Select Category</button>
  <div class="shin-menu-list">
    {{ range sort $sections }} <!-- non-others -->
      {{ $section := . }}
        {{ if and (ne $section "Others") (ne $section "-") }} <!-- previously: (if ne $section "Others") only -->
        <a href="#{{ replace $section ` ` `-` }}"><button class="shin-list-btn">{{ $section }}</button></a>
        {{ end }}
    {{ end }} <!-- non-others -->
  </div>

  {{ else if eq .Params.pageType "By SubCat" }}
  <button id="shin-btn">Select Category</button>
  <div class="shin-menu-list">
    {{ range $sections }} <!-- BY SUBCATEGORY -->
      {{ $section := . }}
      <a href="#{{- replace $section ` ` `-` -}}"><button class="shin-list-btn">{{ $section }}</button></a>
    {{ end }} <!-- BY SUBCATEGORY -->
  </div>
  
  {{ else if $isByYear }}
  <button id="shin-btn">Select Year</button>
  <div class="shin-menu-list">
    {{ range $years }}   <!-- BY YEAR, All live, Line -->
      {{ $year := . }}
      <a href="#{{- $year -}}"><button class="shin-list-btn">{{ $year }}</button></a>
    {{ end }} <!--  -->
  </div>

  {{ else if eq .Params.pageType "SKW" }}
  <button id="shin-btn">Select Year</button>
  <div class="shin-menu-list">
    <a href="#2017"><button class="shin-list-btn">2017</button></a>
    <a href="#2018"><button class="shin-list-btn">2018</button></a>
    <a href="#2019"><button class="shin-list-btn">2019</button></a>
  </div>

  {{ end }}
<!-- IF STATEMENTS -->
</div>
