{{ if ne .Params.pageType "SKW" }}
  {{- partial "display/nav-section.html" . -}}

<!-- SPOT KIDS: WHITE
    have special code in single page layout -->
{{ else }}
  {{- partial "display/nav-section.html" . -}}

  <p>Note: Embedded tweets may take longer to load.</p>
  <div class="boxer">
    {{ .Content }}
  </div>

{{ end }}

<!-- / SPOT KIDS: WHITE -->

{{ $catName := .Params.mainCat }}
{{ $forLive := .Site.Params.forLive }}
{{ $NamedLive := "LIVE - "}}
{{ $theme := .Site.Params.displayMode }}

{{ $sections := slice }}
  {{ range .Site.Data.Masterlist }}
    {{ range where .contents ".Category" $catName }}
      {{ $sections = $sections | append .SubCat }}
    {{ end }}
  {{ end }}
{{ $sections = uniq $sections }}

{{ $years := slice }}
  {{ range .Site.Data.Masterlist }}
    {{ range where .contents ".Category" $catName }}
      {{ $years = $years | append .Year }}
    {{ end }}
  {{ end }}
{{ $years = uniq $years }}

<!-- pre-ads -->
{{ $Ids := slice }}
{{ $maps := slice }}
<!-- end pre-ads -->

<!-- Subcat-Year -->
{{ if eq .Params.pageType "By SubCat Year" }}
  {{ range $sections }}
    {{ $section := . }}

    {{ $yrs := slice }}
      {{ range $.Site.Data.Masterlist }}
          {{ range where (where .contents "Category" $catName)  "SubCat" $section }}
          {{ $yrs = $yrs | append .Year }}
          {{ end }}
      {{ end }}
    {{ $yrs = uniq $yrs }}

    {{ range $yrs }}
      {{ $yr := . }}

      {{ range $.Site.Data.Masterlist }}
        {{ range sort (where (where .contents "SubCat" $section)  "Year" $yr) "Date" }}
          {{ $Ids = $Ids | append .ID }}
          {{ $maps = $maps | append . }}
        {{ end }}
      {{ end }}
    {{ end }}

  {{ end }}

<!-- Subcat -->
{{ else if eq .Params.pageType "By SubCat" }}
  {{ range $sections }}
    {{ $section := . }}

      {{ range $.Site.Data.Masterlist }}
        {{ range where (where .contents "Category" $catName)  "SubCat" $section }}
          {{ $Ids = $Ids | append .ID }}
          {{ $maps = $maps | append . }}
        {{ end }}
      {{ end }}

  {{ end }}

<!-- Year -->
{{ else if eq .Params.pageType "By Year" }}
  {{ range $years }}
    {{ $year := . }}

      {{ range $.Site.Data.Masterlist }}
        {{ range sort (where (where .contents "Category" $catName) "Year" $year) "Date" }}
          {{ $Ids = $Ids | append .ID }}
          {{ $maps = $maps | append . }}
        {{ end }}
      {{ end }}

  {{ end }}

<!-- All Live -->
{{ else if eq .Params.pageType "All Live" }}
  {{ range $years }}
    {{ $year := . }}

    {{ $months := slice }}
      {{ range $.Site.Data.Masterlist }}
          {{ range where .contents "Year" $year }}
            {{ if strings.HasPrefix .Category $forLive }}
              {{ $months = $months | append .Month }}
            {{ end }}
          {{ end }}
      {{ end }}
    {{ $months = uniq $months }}

    {{ range $months }}
      {{ $month := . }}

      {{ range $.Site.Data.Masterlist }}
        {{ range sort (where (where .contents "Year" $year) "Month" $month) "Date" }}
          {{ if strings.HasPrefix .Category $forLive }}
            {{ $Ids = $Ids | append .ID }}
            {{ $maps = $maps | append . }}
          {{ end }}
        {{ end }}
      {{ end }}

    {{ end }}

  {{ end }}

{{ end }}
<!-- / page conditions -->

<!-- pre-ads part 2-->
{{ $placement := slice 3 8 25 50 }}
{{ $num := newScratch }}
{{ $num.Add "num" 50 }}

{{ range $Ids }}
  {{ $number := $num.Get "num" }}
  {{ if lt $number (len $Ids) }}
    {{ $num.Add "num" 100 }}
  {{ end }}
  {{ $placement = $placement | append $number }}
{{ end }}
{{ $placement = uniq $placement }}
<!-- end -->

<div class="boxer">
  {{ if eq .Params.pageType "By SubCat Year" }}
    {{ range $sections }} <!-- range not "others" -->
      {{ $section := . }}

      {{ if and (ne $section "Others") (ne $section "-") }} <!-- not others  -->
        <div id="{{ replace $section ` ` `-` }}" class="gatsu">{{ $section }}</div><br>

        {{ range $index, $map := $maps }}
          {{ if eq .SubCat $section }}
          <!-- LAYOUT -->
          <div class="link-list">
            <ul>
              <span class="date">{{ dateFormat "2006 Jan 02" .Date }}</span>
              <!-- thumbnail -->
              {{- partial "display/thumbnail.html" . -}}
              <!-- thumbnail-->


              <br> {{ .Title }}
              {{ range .Links }}
              <li>
                <a target="_blank" href="{{ .Link }}">{{ .Name }}</a> <span class="subs">{{ .Subs }}</span>
              </li>
              {{ end }} <!-- range .Links -->
            </ul>
          </div>
          <!-- LAYOUT -->

          <!-- ads -->
          {{ if in $placement $index }}
            <div class="link-list">
              <ul>
                {{- partial "adsterra/banner-300x250.html" . -}}
              </ul>
            </div>
          {{ end }}
          <!-- ads -->
          {{ end }} <!-- if SubCat = section -->
        {{ end }} <!-- range index -->

      {{ end }} <!-- /not others  -->
    {{ end }} <!-- /range not others  -->


    {{ range $sections }} <!-- "others" -->
      {{ $section := . }}

      {{ if eq $section "Others" }}
        <div id="{{ replace $section ` ` `-` }}" class="gatsu">{{ $section }}</div><br>

        {{ range $index, $map := $maps }}
          {{ if eq .SubCat $section }}
          <!-- LAYOUT -->
          <div class="link-list">
            <ul>
              <span class="date">{{ dateFormat "2006 Jan 02" .Date }}</span>
              <!-- thumbnail -->
              {{- partial "display/thumbnail.html" . -}}
              <!-- thumbnail-->

              <br> {{ .Title }}
              {{ range .Links }}
              <li>
                <a target="_blank" href="{{ .Link }}">{{ .Name }}</a> <span class="subs">{{ .Subs }}</span>
              </li>
              {{ end }} <!-- range .Links -->
            </ul>
          </div>
          <!-- LAYOUT -->

          <!-- ads -->
          {{ if in $placement $index }}
            <div class="link-list">
              <ul>
                {{- partial "adsterra/banner-300x250.html" . -}}
              </ul>
            </div>
          {{ end }}
          <!-- ads -->
          {{ end }} <!-- if SubCat = section -->
        {{ end }} <!-- range index -->

      {{ end }}
    {{ end }} <!-- others  -->


  {{ else if eq .Params.pageType "By SubCat" }}
    {{ range $sections }}
      {{ $section := . }}
      <div id="{{ replace $section ` ` `-` }}" class="gatsu">{{ $section }}</div><br>

      {{ range $index, $map := $maps }}
        {{ if eq .SubCat $section }}
        <!-- LAYOUT -->
        <div class="link-list">
          <ul>
            <span class="date">{{ dateFormat "2006 Jan 02" .Date }}</span>
            <!-- thumbnail -->
            {{- partial "display/thumbnail.html" . -}}
            <!-- thumbnail-->

            <br> {{ .Title }}
            {{ range .Links }}
            <li>
              <a target="_blank" href="{{ .Link }}">{{ .Name }}</a> <span class="subs">{{ .Subs }}</span>
            </li>
            {{ end }} <!-- range .Links -->
          </ul>
        </div>
        <!-- LAYOUT -->

        <!-- ads -->
        {{ if in $placement $index }}
          <div class="link-list">
            <ul>
              {{- partial "adsterra/banner-300x250.html" . -}}
            </ul>
          </div>
        {{ end }}
        <!-- ads -->
        {{ end }} <!-- if SubCat = section -->
      {{ end }} <!-- range index -->

    {{ end }} <!-- range sections -->


  {{ else if eq .Params.pageType "By Year" }}
    {{ range $years }}
      {{ $year := . }}
      <div id="{{ $year }}" class="gatsu">{{ $year }}</div><br>

      {{ range $index, $map := $maps }}
        {{ if eq .Year $year }}
        <!-- LAYOUT -->
        <div class="link-list">
          <ul>
            <span class="date">{{ dateFormat "Jan 02" .Date }}</span>
            <!-- thumbnail -->
            {{- partial "display/thumbnail.html" . -}}
            <!-- thumbnail-->

            <br> {{ .Title }}
            {{ range .Links }}
            <li>
              <a target="_blank" href="{{ .Link }}">{{ .Name }}</a> <span class="subs">{{ .Subs }}</span>
            </li>
            {{ end }} <!-- range .Links -->
          </ul>
        </div>
        <!-- LAYOUT -->

        <!-- ads -->
        {{ if in $placement $index }}
          <div class="link-list">
            <ul>
              {{- partial "adsterra/banner-300x250.html" . -}}
            </ul>
          </div>
        {{ end }}
        <!-- ads -->
        {{ end }} <!-- if SubCat = section -->
      {{ end }} <!-- range index -->

    {{ end }} <!-- range sections -->

  {{ else if eq .Params.pageType "All Live" }}
    {{ range $years }}
      {{ $year := . }}
      <div id="{{ $year }}" class="gatsu">{{ $year }}</div><br>

      {{ $months := slice }}
        {{ range $.Site.Data.Masterlist }}
            {{ range where .contents "Year" $year }}
              {{ if strings.HasPrefix .Category $forLive }}
                {{ $months = $months | append .Month }}
              {{ end }}
            {{ end }}
        {{ end }}
      {{ $months = uniq $months }}

      {{ range $months }}
        {{ $month := . }} <br>

        {{ range $index, $map := $maps }}
          {{ if and (eq .Year $year) (eq .Month $month) }}
            <!-- LAYOUT -->
            <div class="link-list">
              <ul>
                <span class="date">{{ dateFormat "Jan 02" .Date }}</span>
                <span id="catlink">
                  {{ if and (ne .SubCat "-") (ne .SubCat "Others")}}
                    <a href="../../{{ .CatLink }}/#{{ replace .SubCat ` ` `-`}}">
                  {{ else }}
                    <a href="../../{{ .CatLink }}">
                  {{end}}
                  <!-- end of href -->

                  {{ if eq .Category $forLive }}
                      SKZ
                  {{ else if strings.HasPrefix .Category $NamedLive }}
                      {{ strings.TrimPrefix $NamedLive .Category }}
                      {{ if and (ne .SubCat "-") (ne .SubCat "Others")}}
                      : {{ .SubCat }}
                      {{end}}
                  {{ end }}
                  </a></span>

                <!-- thumbnail -->
                {{- partial "display/thumbnail.html" . -}}
                <!-- thumbnail-->

                <br> {{ .Title }}
                {{ range .Links }}
                <li>
                  <a target="_blank" href="{{ .Link }}">{{ .Name }}</a> <span class="subs">{{ .Subs }}</span>
                </li>
                {{ end }} <!-- range .Links -->
              </ul>
            </div>
            <!-- LAYOUT -->

            <!-- ads -->
            {{ if in $placement $index }}
              <div class="link-list">
                <ul>
                  {{- partial "adsterra/banner-300x250.html" . -}}
                </ul>
              </div>
            {{ end }}
            <!-- ads -->

          {{ end }}
        {{ end }}

      {{ end }}

    {{ end }}


  {{ end }} <!-- / page conditions -->

</div> <!-- class boxer -->
