{{ $years := slice }}
  {{ range .Site.Data.Timeline }}
      {{ $years = $years | append .year }}
  {{ end }}
{{ $years = uniq $years }}

<div class="container">
    <div class="view">
      <div class="view-setting">
        View:
        <select class="" name="years">
          <option value="all">all years</option>
          {{ range $years }} {{ $year := . }}
          <option value="{{ $year }}">{{ $year }}</option>
          {{ end }}
        </select>
        <select class="" name="tags">
          <option value="">all tags</option>
          <option value="">Special Date</option>
          <option value="">Discography</option>
          <option value="">Shows</option>
          <option value="">Award</option>
          <option value="">Music Show Win</option>
        </select>
      </div>
    </div>

    <div class="timeline">
      {{ range $years }}
        {{ $year := . }}

        <div id="{{ $year }}" class="{{ $year }}">
          <div class="timeline-container year">
              <div class="timeline-icon">
                  <i class="far fa-flag"></i>
              </div>
              <div class="timeline-body">
                  <h1>{{ $year }}</h1>
              </div>
          </div>
          {{ range sort (where $.Site.Data.Timeline "year" $year) "date" }}
            {{ $tag := index .tags 0 }}
            <div class="timeline-container {{ replace $tag ` ` `-`}}">
                <div class="timeline-icon">
                    <i class="fa fa-{{- .icon -}}" aria-hidden="true"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge"> {{ dateFormat "Jan 02, 2006" .date }} </span></h4>

                    <div class="tl-row">
                      <div class="tl-col1">
                        {{ if ne .image "" }}
                        <img src="../images/timeline/{{ .image }}" alt="{{ .title }}">
                        {{ end }}
                      </div>
                      <div class="tl-col2">
                        {{ if ne .link "" }}
                        <h3><a href="{{ .link }}">{{ .title }}</a></h3>
                        {{ else }} <h3>{{ .title }}</h3> {{ end}}
                        <p>{{ .description }}</p>
                      </div>
                    </div>

                    <p class="timeline-subtitle">{{ delimit .tags ", " }}</p>
                </div>
            </div>
            {{ end }}

      </div>
      {{ end }}

</div>


<!-- manual -->
<hr>


<div class="container">
  <div class="view">
    <div class="view-setting">
      View:
      <select class="" name="year">
        <option value="">all years</option>
        <option value="">2017</option>
        <option value="">2018</option>
      </select>
      <select class="" name="tag">
        <option value="">all tags</option>
        <option value="">Special Date</option>
        <option value="">Awards</option>
        <option value="">Shows</option>
      </select>
    </div>
  </div>
    <div class="timeline">
      <div id="2017">
        <div class="timeline-container year">
            <div class="timeline-icon">
                <i class="far fa-grin-wink"></i>
            </div>
            <div class="timeline-body">
                <h1>2017</h1>
            </div>
        </div>
          <div class="timeline-container primary">
              <div class="timeline-icon">
                  <i class="far fa-grin-wink"></i>
              </div>
              <div class="timeline-body">
                  <h4 class="timeline-title"><span class="badge"> Feb 18, 2017 </span></h4>

                  <div class="tl-row">
                    <div class="tl-col1">
                      <h3>3RACHA Anniversary</h3>
                      <p>3RACHA started to upload their mixtapes</p>
                    </div>
                    <div class="tl-col2">
                      <img src="../images/glwp.jpg">
                    </div>
                  </div>

                  <p class="timeline-subtitle">Special Date</p>
              </div>
          </div>

          <div class="timeline-container danger">
              <div class="timeline-icon">
                  <i class="far fa-grin-hearts"></i>
              </div>
              <div class="timeline-body">
                  <h4 class="timeline-title"><span class="badge">Oct 20, 2017</span></h4>

                  <div class="tl-row">
                    <div class="tl-col1">
                      <h3><a href="#">Stray Kids Survival Show</a></h3>
                      <p>Start of airing</p>
                    </div>
                    <div class="tl-col2">
                      <img src="../images/banner-kd.jpg">
                    </div>
                  </div>

                  <p class="timeline-subtitle">Show</p>
              </div>
          </div>
          <div class="timeline-container success">
              <div class="timeline-icon">
                  <i class="far fa-grin-tears"></i>
              </div>
              <div class="timeline-body">
                  <h4 class="timeline-title"><span class="badge">Success</span></h4>
                  <div class="tl-row">
                    <div class="tl-col1">
                      <h3><a href="#">Stray Kids Survival Show</a></h3>
                      <p>Start of airing</p>
                    </div>
                    <div class="tl-col2">
                      <img src="../images/motsm.jpg">
                    </div>
                  </div>
                  <p class="timeline-subtitle">6 Hours Ago</p>
              </div>
          </div>
      </div>
      <div id="2018">
        <div class="timeline-container year">
            <div class="timeline-icon">
                <i class="far fa-grin-wink"></i>
            </div>
            <div class="timeline-body">
                <h1>2018</h1>
            </div>
        </div>
          <div class="timeline-container primary">
              <div class="timeline-icon">
                  <i class="far fa-grin-wink"></i>
              </div>
              <div class="timeline-body">
                  <h4 class="timeline-title"><span class="badge"> Feb 18, 2017 </span></h4>

                  <div class="tl-row">
                    <div class="tl-col1">
                      <h3>3RACHA Anniversary</h3>
                      <p>3RACHA started to upload their mixtapes</p>
                    </div>
                    <div class="tl-col2">
                      <img src="../images/glwp.jpg">
                    </div>
                  </div>

                  <p class="timeline-subtitle">Special Date</p>
              </div>
          </div>

          <div class="timeline-container danger">
              <div class="timeline-icon">
                  <i class="far fa-grin-hearts"></i>
              </div>
              <div class="timeline-body">
                  <h4 class="timeline-title"><span class="badge">Oct 20, 2017</span></h4>

                  <div class="tl-row">
                    <div class="tl-col1">
                      <h3><a href="#">Stray Kids Survival Show</a></h3>
                      <p>Start of airing</p>
                    </div>
                    <div class="tl-col2">
                      <img src="../images/banner-kd.jpg">
                    </div>
                  </div>

                  <p class="timeline-subtitle">Show</p>
              </div>
          </div>
          <div class="timeline-container success">
              <div class="timeline-icon">
                  <i class="far fa-grin-tears"></i>
              </div>
              <div class="timeline-body">
                  <h4 class="timeline-title"><span class="badge">Success</span></h4>
                  <div class="tl-row">
                    <div class="tl-col1">
                      <h3><a href="#">Stray Kids Survival Show</a></h3>
                      <p>Start of airing</p>
                    </div>
                    <div class="tl-col2">
                      <img src="../images/motsm.jpg">
                    </div>
                  </div>
                  <p class="timeline-subtitle">6 Hours Ago</p>
              </div>
          </div>
      </div>

        <div class="timeline-container warning">
            <div class="timeline-icon">
                <i class="far fa-grimace"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">Warning</span></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                <p class="timeline-subtitle">1 Day Ago</p>
            </div>
        </div>
        <div class="timeline-container">
            <div class="timeline-icon">
                <i class="far fa-grin-beam-sweat"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">Secondary</span></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                <p class="timeline-subtitle">3 Days Ago</p>
            </div>
        </div>

    </div>
</div>
