{{ $newYear := sub .Site.Params.year 1 }}
{{ $sort := $.Page.Params.sort }}

{{ $yrs := slice }}
  {{ range .Site.Data.Masterlist }}
    {{ range where .contents ".Year" ">=" $newYear }}
      {{ $yrs = $yrs | append .Year }}
    {{ end }}
  {{ end }}
{{ $yrs = uniq $yrs }}

{{ $YrsRange := sort $yrs "value" $sort }}
  {{ if eq $sort "desc" }}
    {{ $YrsRange = $YrsRange | sort (last 2 $yrs) "value" $sort }}
  {{ end }}

{{ $firstYr := index (first 1 $yrs) 0 }}
{{ $lastYr := index (last 1 $yrs) 0 }}

<!-- if sort desc, range masterlist > contents where status is not null-->

<!-- tabs -->
<div class="tab">
  {{ range $YrsRange }}
    {{ $year := . }}
      <button id="B{{ $year }}" onclick="openTab(event, '{{ $year }}', 'tc1', 'tb1')"
      class="tb1 tablinks
            {{ if eq $sort "asc" }}
              {{ if eq $year $firstYr }} active {{ end }}
            {{ else }}
              {{ if eq $year $lastYr }} active {{ end }}
            {{ end }} ">{{ $year }}
      </button>
  {{ end }}
</div>

<!-- tab content -->

{{ range $YrsRange }}
    {{ $year := . }}

  <div id="{{ $year }}"
        class="tc1 tabcontent
              {{ if eq $sort "asc" }}
                {{ if eq $year $firstYr }} active {{ end }}
              {{ else }}
                {{ if eq $year $lastYr }} active {{ end }}
              {{ end }}">
    <!-- by date -->
    <span style="padding-top:10px" id="{{$year}}-top">&nbsp;</span><br>
    <a href="#{{$year}}-bottom"><button class="anchor" >Jump to bottom</button></a>

      {{ $months := slice }}
        {{ range $.Site.Data.Masterlist }}
            {{ range sort (where .contents "Year" $year) "Date" $sort }}
            {{ $months = $months | append .Month }}
            {{ end }}
        {{ end }}
      {{ $months = uniq $months }}

      {{ range $months }}
        {{ $month := . }} <br>

        {{ range $.Site.Data.Masterlist }}
          {{ range sort (where (where .contents "Year" $year) "Month" $month) "ID" $sort }}

          <div class="link-list">
            <ul>
              <span class="date">{{ dateFormat "Jan 02" .Date }}</span>
              <span id="catlink"><a href="../{{ .CatLink }}">{{ .Category }}
                {{ if and (ne .SubCat "-") (ne .SubCat "Others")}}
                : {{ .SubCat }}
                {{end}}</a></span>

              {{ .Title }}
              {{ range .Links }}
              ★ <a target="_blank" href="{{ .Link }}">{{ .Name }}</a> <span class="subs">{{ .Subs }}</span>
              {{ end }} <!-- range .Links -->
            </ul>
          </div>
          {{ end }} <!-- range sort -->
        {{ end }} <!-- range masterlist -->
      {{ end }} <br> <!-- range months -->

      <a id="{{$year}}-bottom" href="#{{$year}}-top"><button class="anchor" >Jump to top</button></a>
    </div> <!-- .tab-content -->
{{ end }} <!-- range years-->
