{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $link := .Get "link" -}}
{{- $width := .Get "width" -}}

{{ $path := $src }}
{{ $img := resources.Get $path }}
{{ $default := $img.Resize "800x Center"}}

{{/* set image sizes, these are hardcoded for now, x dictates that images are resized to this width */}}

{{ $tinyw := default "320x q90" }}
{{ $smallw := default "425x q90" }}
{{ $mediumw := default "900x q90" }}

{{/* resize the src image to the given sizes */}}

{{ .Scratch.Set "tiny" ($img.Resize $tinyw) }}
{{ .Scratch.Set "small" ($img.Resize $smallw) }}
{{ .Scratch.Set "medium" ($img.Resize $mediumw) }}

{{/* add the processed images to the scratch */}}

{{ $tiny := .Scratch.Get "tiny" }}
{{ $small := .Scratch.Get "small" }}
{{ $medium := .Scratch.Get "medium" }}




{{ with $link }}
<a href="{{ $link }}">
  <img
    sizes="(min-width: 35em) 60vw, 100vw"

    srcset="
    {{ if ge $img.Width "320" }}
      {{ with $tiny.RelPermalink }}{{.}} 320w{{ end }}
    {{ end }}
    {{ if ge $img.Width "425" }}
      {{ with $small.RelPermalink }}, {{.}} 425w{{ end }}
    {{ end }}
    {{ if ge $img.Width "900" }}
      {{ with $medium.RelPermalink }}, {{.}} 900w{{ end }}
    {{ end }}
    "

    src="{{ $default.RelPermalink }}"
    {{with $alt}} alt="{{ $alt }}" {{end}}
    style="{{ with $width }} width:{{ . }} {{ else }} width:100% {{ end }}" >
</a>
{{ else }}
<img style="width:100%" src="{{ $default.RelPermalink }}" {{with $alt}} alt="{{ $alt }}" {{end}}>
{{ end }}
