{{ $withInsert := false }}
{{ $pgraph := .Get "p" }}

{{ range .Site.Data.Masterlist }}
  {{ range first 1 (where .contents ".Insert" "!=" nil) }}
    {{ $withInsert = true }}
  {{ end }}
{{ end }}

{{ range .Site.Data.Masterlist }}
  {{ range where .contents ".Update" "!=" nil }}
    <div class="latest-content-title
    {{ if eq $withInsert true }} active {{ end}} ">
      <h4>Latest Contents</h4>
    </div>

    <span class="update-stamp"><b>Last Update:</b> {{ dateFormat "Mon | Jan 02, 2006 | 03:04 PM KST" .Update }} </span> <br>
  {{ end }}
{{ end }}


{{ if eq $withInsert true }}
  <h5>Inserted links:</h5>
  <p>{{ $pgraph }}</p>
{{ end}}

<div class="scroll" style="max-height:300px">
  {{ range .Site.Data.Masterlist }}
    {{ range sort (where .contents ".Insert" "!=" nil) ".Insert" "desc" }}
      <div class="link-list" style="display:block">
        <ul>
          <span class="date">
            {{ dateFormat "'06 Jan 02" .Date }}
          </span>
          {{ if and (ne .SubCat "-") (ne .SubCat "Others")}}
            <span id="catlink">
              <a href="../{{ .CatLink }}/#{{ replace .SubCat  ` ` `-`}}">
                {{ .Category }} : {{ .SubCat }}</a>
            </span>

          {{ else }}
            <span id="catlink">
              <a href="../{{ .CatLink }}">{{ .Category }}</a>
            </span>
          {{end}}

          {{ .Title }}
          {{ range .Links }}
          <li> <a target="_blank" href="{{ .Link }}">{{ .Name }}</a> <span class="subs">{{ .Subs }}</span></li>
          {{ end }} <!-- range .Links -->
        </ul>
      </div>
    {{ end }}
  {{ end }}
</div>


<br>
