{{/*  not used  */}}

<hr>

<div class="sform-container">
  <li class="sform-collection">
    <div style="height: 20px">
      <!-- if first link -->
      <span class="date" style="padding-left: 2px">
        Jan 03
      </span>
      Maybe a very long title?
      <!-- end if -->
    </div>
    
    <div class="verthumb-container">
      <a href="https://youtu.be/LIlCTp9Lxx8">
        <img src="https://i.ytimg.com/vi_webp/LIlCTp9Lxx8/hqdefault.webp" />
      </a>
    </div>
  </li>

  <li class="sform-collection" style="border-right: solid 3px var(--link-color);
    margin-right: -3px;">
    <div style="height: 20px">
      <!-- if first link -->
      <span class="date" style="padding-left: 2px">
        Jan 03
      </span>
      Maybe a very long title?
      <!-- end if -->
    </div>
    
    <div class="verthumb-container">
      <a href="https://youtu.be/LIlCTp9Lxx8">
        <img src="https://i.ytimg.com/vi_webp/LIlCTp9Lxx8/hqdefault.webp" />
      </a>
    </div>
  </li>

  <li class="sform-collection">
    <div style="height: 20px">
      <!-- if first link -->
      <span class="date" style="padding-left: 2px">
        Jan 03
      </span>
      Maybe a very long title?
      <!-- end if -->
    </div>
    
    <div class="verthumb-container">
      <a href="https://youtu.be/LIlCTp9Lxx8">
        <img src="https://i.ytimg.com/vi_webp/LIlCTp9Lxx8/hqdefault.webp" />
      </a>
    </div>
  </li>

  <li class="sform-collection">
    <div style="height: 20px">
      <!-- if first link -->
      <span class="date" style="padding-left: 2px">
        Jan 03
      </span>
      Maybe a very long title?
      <!-- end if -->
    </div>
    
    <div class="verthumb-container">
      <a href="https://youtu.be/LIlCTp9Lxx8">
        <img src="https://i.ytimg.com/vi_webp/LIlCTp9Lxx8/hqdefault.webp" />
      </a>
    </div>
  </li>

  <li class="sform-collection">
    <div style="height: 20px">
      <!-- if first link -->
      <span class="date" style="padding-left: 2px">
        Jan 03
      </span>
      Maybe a very long title?
      <!-- end if -->
    </div>
    
    <div class="verthumb-container">
      <a href="https://youtu.be/LIlCTp9Lxx8">
        <img src="https://i.ytimg.com/vi_webp/LIlCTp9Lxx8/hqdefault.webp" />
      </a>
    </div>
  </li>

  <li class="sform-collection">
    <div style="height: 20px">
      <!-- if first link -->
      <span class="date" style="padding-left: 2px">
        Jan 03
      </span>
      Maybe a very long title?
      <!-- end if -->
    </div>
    
    <div class="verthumb-container">
      <a href="https://youtu.be/LIlCTp9Lxx8">
        <img src="https://i.ytimg.com/vi_webp/LIlCTp9Lxx8/hqdefault.webp" />
      </a>
    </div>
  </li>


  

  

</div>