{{ define "main" }}
    <div class="highlight-red hl-in-list">
      ⚠ Please credit <a href="https://twitter.com/CH_SKZ_">@CH_SKZ_</a> if this helped you find the contents you want to re-upload or re-organize
    </div>

    <!-- ad -->
      {{- partial "google/ads-in-feed.html" . -}}
    <!-- ad -->

    <div class="archive {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
                {{ range .Pages.ByWeight }}
                <div class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
                    <div class="post-title">
                        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </h3>
                    </div>
                    <div class="post-content">
                        <div class="p_part" style="margin-left:10px"><p style="font-size:12px">{{ .Description }}</p></div>
                    </div>

                    <div class="post-footer">
                        <div class="meta">
                        </div>
                    </div>

                </div>
                {{ end }}
    </div>

    <!-- ad -->
      {{- partial "google/ads-in-feed.html" . -}}
    <!-- ad -->
    
{{ end }}
